.main-bg {
    height: auto;
    width: 100%;
}

.box-divs {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box2 {
    position: relative;
}

.box2 h2 {
    font-size: 1.7em;
    font-weight: 400;
}

.textarea-div {
    height: 300px;
    width: 540px;
    background: transparent;
    border: 2px solid white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.7rem;
    text-transform: lowercase;
    color: #fff;
}

.textarea-div:focus-visible {
    outline: none;
    border: 2px solid #F1C442;
}

.textarea-div::placeholder {
    color: whitesmoke;
}

.exclam-icon {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-size: 1.5rem;
}

.btns-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-exclam-bootstrap {
    color: #fff;
    font-size: 16px;
}

.span-text {
    margin-left: 6px;
}

.btns {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.cripto {
    padding: 20px;
    border-radius: 20px;
    width: 260px;
    background: transparent;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    cursor: pointer;
}

.descripto {
    padding: 20px;
    border-radius: 20px;
    width: 260px;
    background: transparent;
    color: white;
    font-size: 1rem;
    border: 2px solid white;
    cursor: pointer;
}

.cripto:hover {
    transition: 0.4s;
    color: #F1C442;
    border: 2px solid #F1C442;
    text-shadow: 2px 2px 5px black;
}

.descripto:hover {
    transition: 0.4s;
    color: #F1C442;
    border: 2px solid #F1C442;
    text-shadow: 2px 2px 5px black;
}

.div-message {
    color: white;
    border: 2px solid white;
    text-shadow: 1px 1px 2px #111;
    font-size: 1.1rem;
    height: 500px;
    width: 540px;
    max-width: 540px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.div-message p {
    margin-bottom: 50px;
}

.btn-copy {
    padding: 20px;
    border-radius: 20px;
    width: 160px;
    background: transparent;
    color: white;
    border: 2px solid white;
    text-shadow: 2px 2px 5px black;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.btn-copy:hover {
    transition: 0.4s;
    color: #F1C442;
    border: 2px solid #F1C442;
    text-shadow: 2px 2px 5px black;
}

.message-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 0px !important;
    width: 175px;
    margin-bottom: 4rem;
    object-fit: contain;
}

.btn-box {
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: flex;
    gap: 20px;
}

@media (max-width: 1000px) {
    .box-divs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cripto, .descripto {
        width: 250px;
        margin-bottom: 20px;
    }
}

@media (max-width: 700px) {
    .exclam-icon {
        font-size: 1.2rem;
        width: 41ch;
    }
}

@media (max-width: 550px) {
    .textarea-div {
        width: 350px;
    }
    .btn-box {
        left: 65px;
    }
    .btn-copy {
        width: 100px;
    }
    .div-message {
        width: 350px;
    }
    .div-message p {
        margin-bottom: 25px;
    }
    .exclam-icon {
        font-size: 12px;
        width: 40ch;
    }
    .cripto, .descripto {
        width: 160px;
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .box2 h2 {
        font-size: 1.2rem;
    } 
}

@media (max-width: 350px) {
    .textarea-div {
        width: 300px;
    }
    .div-message {
        width: 300px;
    }
    .box2 h2 {
        font-size: 1rem;
    } 
    .exclam-icon {
        width: 34ch;
    }
    .cripto, .descripto {
        font-size: 12px;
        width: 125px;
    }
}