@charset "UTF-8";

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* css */
@import url(header.css);
@import url(main.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0 auto;
    min-width: 320px;
    max-width: 1400px;
}

body {
    height: auto;
    font-family: 'Inter', sans-serif;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/teste2.webp);
    background-size: cover;
}

:root {
    --background-color: #E5E5E5;
    --main-color: #0A3871;
    --secundary-color: #343A40;
    --third-color: #495057;
    --fourth-color: #D8DFE8;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    body {
        height: auto;
    }
    .container {
        height: auto;
    }
}


